{% extends "AppCoder/index.html" %}

{% block titulo %}
<h1 class="mb-5">Acerca del Rental...</h1>
{% endblock titulo %}

{% block contenido %}
<h2 class="mb-4">Hola Bikers!!....GalvanIng es tu rental especializado en alquiler de bicicletas de media y alta gama para que puedas disfrutar de los magistrales senderos de Tierra del Fuego<br>
<br>Acerca del autor.....Mi nombre es Gabriel Galvan,soy ingeniero industrial y vivo actualmente en Tierra del Fuego,en la ciudad de Ushuaia y estoy dando mis primeros pasos en el universo de la programacion 💪.
<br>
<br>Tengo como hobbies las activadades deportivas al aire libre como ser mountain bike, esqui y trekking, asi como tambien soy un entusiasta de la aviacion<br>
<br>
<br></h2>
{% endblock contenido %}
