{% extends "AppCoder/indexCircuitos.html" %}

{% block titulo %}
<h1 class="mb-5">Circuitos</h1>               
{% endblock titulo %}

{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Sendero</th>
            <th>Dificultad</th>
            <th class="text-center">Distancia(km)</th>
        </tr>
    </thead>
    <tbody>
    {% for c in circuitos  %}
        <tr>
            <td>{{ c.sendero }}</td>
            <td>{{ c.dificultad }}</td>
            <td class="text-center">{{ c.distancia }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}