{% extends "AppCoder/indexClientes.html" %}

{% block titulo %}
<h1 class="container">Clientes</h1>
{% endblock titulo %}

{% block contenido %}
<table>
    <tr>
        <td width="100"><h2>Clientes</h2></td>
        <td>
            <a
            href="{% url 'clienteCreate' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-sm" title="Registrar"> </i>
            </a>
            <a
            href="{% url 'buscarClientes' %}"
            class="btn btn-succes btn-sm"
            ><i class="fa fa-search fa-sm" title="Buscar"> </i>
            </a>
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Identificacion</th>
            <th>Email</th>
            <th class="text-center">Telefono</th>
            <th class="text-center">Reserva</th>
            <th>Bicicleta</th>
            <th>Modelo</th>
            <th>Accesorios</th>
            <th>Status</th>
            <th class="text-center">Opciones</th>
        </tr>
    </thead>
    <tbody>
    {% for c in cliente_list  %}
        <tr>
            <td>{{ c.nombre }}</td>
            <td>{{ c.apellido }}</td>
            <td>{{ c.identificacion }}</td>
            <td>{{ c.email }}</td>
            <td class="text-center">{{ c.telefono }}</td>
            <td class="text-center">{{ c.fecha }}</td>
            <td>{{ c.marca }}</td>
            <td>{{ c.modelo }}</td>
            <td>{{ c.accesorios }}</td>
            <td>{{ c.status }}
            <td class="text-center">
                <a
                  href="{% url 'clienteUpdate' c.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                 href="{% url 'clienteDelete' c.id %}"
                 class="btn btn-danger"
                 style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .5rem;"
                 ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}